# Removing and splitting pandas DataFrame columns
When you are preparing to train machine learning models, you often need to delete specific columns, or split certain columns from your DataFrame into a new DataFrame.

We need the pandas library and a DataFrame to explore

In [1]:
import pandas as pd
from pathlib import Path

Let's load a bigger csv file with more columns

In [2]:
path=Path.joinpath(Path.cwd().parent,'CSV_files/lots_of_flight_data.csv')
delays_df=pd.read_csv(path)
delays_df.head()

,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE
0,2018-10-01,WN,N221WN,802,ABQ,BWI,905,903,-2,1450,1433,-17,225,210,197,1670
1,2018-10-01,WN,N8329B,3744,ABQ,BWI,1500,1458,-2,2045,2020,-25,225,202,191,1670
2,2018-10-01,WN,N920WN,1019,ABQ,DAL,1800,1802,2,2045,2032,-13,105,90,80,580
3,2018-10-01,WN,N480WN,1499,ABQ,DAL,950,947,-3,1235,1223,-12,105,96,81,580
4,2018-10-01,WN,N227WN,3635,ABQ,DAL,1150,1151,1,1430,1423,-7,100,92,80,580

# Removing a column from a DataFrame.
When you are preparing your data for machine learning, you may need to delete specific columns from the DataFrame before training the model.

For example: Imagine you are training a model to predict how many minutes late a flight will be (ARR_DELAY)

If the model knew the scheduled arrival time (CRS_ARR_TIME) and the actual arrival time (ARR_TIME), the model would quickly figure out ARR_DELAY = ARR_TIME - CRS_ARR_TIME

When we predict arrival times for future flights, we won't have a value for arrival time (ARR_TIME). So we should remove this column from the DataFrame so it is not used as a feature when training the model to predict ARR_DELAY.

In [3]:
new_df=delays_df.drop(columns=['ARR_DELAY'])
new_df.head()

,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE
0,2018-10-01,WN,N221WN,802,ABQ,BWI,905,903,-2,1450,1433,225,210,197,1670
1,2018-10-01,WN,N8329B,3744,ABQ,BWI,1500,1458,-2,2045,2020,225,202,191,1670
2,2018-10-01,WN,N920WN,1019,ABQ,DAL,1800,1802,2,2045,2032,105,90,80,580
3,2018-10-01,WN,N480WN,1499,ABQ,DAL,950,947,-3,1235,1223,105,96,81,580
4,2018-10-01,WN,N227WN,3635,ABQ,DAL,1150,1151,1,1430,1423,100,92,80,580

 Use the inplace parameter to specify you want to drop the column from the original DataFrame

In [4]:
delays_df.drop(columns=['ARR_DELAY'],inplace=True)
delays_df.head()

,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE
0,2018-10-01,WN,N221WN,802,ABQ,BWI,905,903,-2,1450,1433,225,210,197,1670
1,2018-10-01,WN,N8329B,3744,ABQ,BWI,1500,1458,-2,2045,2020,225,202,191,1670
2,2018-10-01,WN,N920WN,1019,ABQ,DAL,1800,1802,2,2045,2032,105,90,80,580
3,2018-10-01,WN,N480WN,1499,ABQ,DAL,950,947,-3,1235,1223,105,96,81,580
4,2018-10-01,WN,N227WN,3635,ABQ,DAL,1150,1151,1,1430,1423,100,92,80,580

We use different techniques to predict based on quantititative values which are usually numeric values (e.g. distance, number of minutes, weight) and qualitative (descriptive) values which may not be numeric (e.g. what airport a flight left from, what airline operated the flight)

Quantitative data may be moved into a separate DataFrame before training a model.

You also need to put the value you want to predict, called the label (ARR_DELAY) in a separate DataFrame from the values you think can help you make the prediction, called the features

We need to be able to create a new dataframe from the columns in an existing dataframe

In [30]:
des_df=delays_df.loc[0:9,['FL_DATE','OP_UNIQUE_CARRIER','TAIL_NUM','ORIGIN','DEST']]
des_df

      FL_DATE OP_UNIQUE_CARRIER TAIL_NUM ORIGIN DEST
0  2018-10-01                WN   N221WN    ABQ  BWI
1  2018-10-01                WN   N8329B    ABQ  BWI
2  2018-10-01                WN   N920WN    ABQ  DAL
3  2018-10-01                WN   N480WN    ABQ  DAL
4  2018-10-01                WN   N227WN    ABQ  DAL
5  2018-10-01                WN   N243WN    ABQ  DAL
6  2018-10-01                WN   N485WN    ABQ  DAL
7  2018-10-01                WN   N229WN    ABQ  DEN
8  2018-10-01                WN   N934WN    ABQ  DEN
9  2018-10-01                WN   N934WN    ABQ  DEN

In [33]:
delays_df=delays_df.loc[0:15,:]
delays_df

,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE
0,2018-10-01,WN,N221WN,802,ABQ,BWI,905,903,-2,1450,1433,225,210,197,1670
1,2018-10-01,WN,N8329B,3744,ABQ,BWI,1500,1458,-2,2045,2020,225,202,191,1670
2,2018-10-01,WN,N920WN,1019,ABQ,DAL,1800,1802,2,2045,2032,105,90,80,580
3,2018-10-01,WN,N480WN,1499,ABQ,DAL,950,947,-3,1235,1223,105,96,81,580
4,2018-10-01,WN,N227WN,3635,ABQ,DAL,1150,1151,1,1430,1423,100,92,80,580
5,2018-10-01,WN,N243WN,3998,ABQ,DAL,655,652,-3,940,924,105,92,83,580
6,2018-10-01,WN,N485WN,5432,ABQ,DAL,1340,1354,14,1625,1631,105,97,81,580
7,2018-10-01,WN,N229WN,4596,ABQ,DEN,1420,1444,24,1540,1552,80,68,55,349
8,2018-10-01,WN,N934WN,6013,ABQ,DEN,910,907,-3,1025,1027,75,80,52,349
9,2018-10-01,WN,N934WN,6015,ABQ,DEN,1735,1742,7,1845,1854,70,72,58,349
10,2018-10-01,WN,N8615E,2885,ABQ,HOU,1240,1239,-1,1540,1539,120,120,108,759
11,2018-10-01,WN,N965WN,3939,ABQ,HOU,640,640,0,940,938,120,118,103,759
12,2018-10-01,WN,N408WN,4025,ABQ,HOU,1555,1610,15,1850,1906,115,116,103,759
13,2018-10-01,WN,N913WN,1642,ABQ,LAS,1040,1037,-3,1115,1057,95,80,69,486
14,2018-10-01,WN,N927WN,3271,ABQ,LAS,1615,1614,-1,1645,1646,90,92,75,486
15,2018-10-01,WN,N732SW,4816,ABQ,LAS,605,601,-4,635,628,90,87,73,486

In [40]:
delays_df.to_csv('data/Modified flight data.csv',index=False)